/**
 * Accordion
 * =================================
 * - This is the full build out accordion for resources and outreach, not the FAQ section
 *
 *
 *
 *
 */

.resource,
.outreach {
  summary {
    padding: 20px;
    background: #ccdbe5;
    border-bottom: 1px solid #333333;
    cursor: pointer;
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
  }

  .tab-details {
    background: #ffffff;
    padding: 20px;
    margin-top: 10px;
    display: none; /* Hidden by default */
  }
}
