/**
 * Backgrounds
 * =================================
 * - Photo Header
 *    - Page Builder Image Header
 * - Video Header
 *
 *
 *
 *
 */

//*********************************************
//************** PHOTO HEADER *****************
//*********************************************
.full-background {
  background-attachment: scroll;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: -80px;
  position: relative;
  z-index: -1;
}

.full-background-lg {
  height: 80vh;
}

.full-background-xl {
  height: 100vh;
}

// Increases the background size to more or less take up full height, but lets content flow free on tablet or mobile
// Used on the app page where content it too tall on mobile, but too short on desktop
@media screen and (min-width: 64em) {
  .full-background-desktop {
    height: 80vh;
  }
}

// This is for the generic page build template - the image header.
.generic-image-header {
  height: 20vh;
}

.generic-image-content-header {
  height: 20vh;
}

// Only the content needs adjusted on tablet+, the image will just follow along to match height.
@media screen and (min-width: 64em) {
  .generic-image-content-header {
    height: 40vh;
  }
}

//*********************************************
//************** VIDEO HEADER *****************
//*********************************************
.header-video {
  height: 130vh; // DO NOT CHANGE THIS. Adjust video height in the .viewport-header class
  left: 50%;
  margin-top: -1px;
  object-fit: cover;
  position: fixed;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: -2;
}

.viewport-header {
  align-items: center;
  display: flex;
  height: 60vh; // Adjust height of video here.
  justify-content: center;
  position: relative;
  text-align: center;
}

//This can be used anywhere, but it HAS to have relative positioning above it or it won't work.
.content-middle {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

//content middle ONLY on tablet and higher
@media screen and (min-width: 64em) {
  .content-middle-medium {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media screen and (min-width: 64em) {
  .content-middle-large {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
