/**
 * Buttons
 * =================================
 * This controls all the buttons on the site. They get REALLY cumbersome in Tailwind.
 *
 * - Main Button
 *
 *
 *
 */

$white: #fafafa;
$black: #333333;
$white-hover: #eaeaea;
$saltydog: #234058;
$lightblue-grad-1: #CCDAE5;
$lightblue-grad-2: #DEE8EE;

.fab-main {
  background-color: $white;
  border-radius: 18px;
  color: $saltydog;
  font-weight: 800;
  padding: 10px 20px;
}

.fab-main:hover {
  background-color: $white-hover;
}

.elevated-blue {
  background: linear-gradient(90deg, $lightblue-grad-1 0%, $lightblue-grad-2 100%);
  background-color: $lightblue-grad-1;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  color: $saltydog;
  font-weight: 800;
  padding: 10px 20px;
}

.ghost {
  border: 1px solid $black;
  border-radius: 18px;
  color: $black;
  font-weight: 800;
  padding: 4px 22px;
}

// This is used when a ghost button is with another button, it makes the sizes line up.
.ghost-paired {
  border: 1px solid $black;
  border-radius: 18px;
  color: $black;
  font-weight: 800;
  padding: 8px 18px;
}

// This is another use case button, but it goes in the "gallery" style boxes since mobile has to be itty bitty to fit.
.gallery-ghost {
  border: 1px solid $black;
  border-radius: 18px;
  color: $black;
  font-size: .8em;
  font-weight: 800;
  padding: 4px 13px;
  transition: .3s;
}

.gallery-ghost:hover {
  background-color: #234058;
  color: #eeeeee;
}

@media screen and (min-width: 64em) {
  .gallery-ghost {
    font-size: 1.1em;
    padding: 4px 22px;
  }
}

// This is the button used on the single event pages so they stand out a little more
.elevated-salty {
  background-color: $saltydog;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  color: $white;
  font-weight: 800;
  padding: 10px 30px;
}
