/**
 * Filtering
 * =================================
 * This overwrites the styles that Filter Everything does (or doesn't) provide.
 *
 *
 *
 *
 */

.widget-title {
  font-weight: 800;
  text-transform: uppercase;
}

.wpc-filter-content select {
  background-color: #E0E0E0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  padding: 5px 0;
}