/*
 * Footer SCSS
 * ---------------------------
 * This is the scss file to control the styles of the footer.
 * Color changes are at the top.
 * The Color settings are at the top, but any other specific edits will need scss editing.
 * Since this looks pretty much identical on desktop and mobile, there's no media queries.
 *
 *
*/

/* Color Settings */
$black: #333333;
$white: #fafafa;
$light-blue: #7498be;

// Brand + WP Generated menu
.footer {
  background-color: $black;
  box-sizing: border-box;
  color: $white;
  font-family: "gotham", sans-serif;
  text-align: center;
  width: 100%;

  img {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    width: 100px;
  }

  ul {
    padding: 10px;
  }

  // The padding here effects spacing between items, this will need edited if you want to add more links.
  li {
    display: inline-block;
    font-weight: 800;
    padding: 10px 20px;
    text-transform: uppercase;
  }

  a:hover {
    color: $light-blue;
  }
}

// Social Icons
.social-links {
  align-items: center;
  background-color: $white;
  border-radius: 50%;
  color: $black;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  margin: 5px;
  transition: 0.1s;
  width: 50px;

  a {
    align-items: center;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    margin: 5px;
    width: 50px;
  }

  i {
    font-size: 1.6em;
  }
}

.social-links:hover {
  background-color: $light-blue;
  color: $white;
}

// Text on bottom + PP Link
.ftr-info {
  padding-bottom: 20px;
  padding-top: 10px;

  .copyright {
    font-size: 0.8em;
  }

  .privacy {
    font-size: 0.8em;
  }

  a:hover {
    color: $light-blue;
  }
}
