/*
 * Footer SCSS
 * ---------------------------
 * This is the scss file to control the styles of the footer.
 * Most of the "settings" are at the top, but dig around to change more specific things.
 * The Color settings are at the top, but any other specific edits will need scss editing.
 * This does follow mobile first design, so to edit tablet +, make sure you edit past the media query.
 *
*/

/* Color Settings */
$background-color: #333333;
$color: #FAFAFA;

/*
 * General Settings
 * --------------
 * Remember, mobile first.
 *
 */

// Brand, WP Generated menu + Socials
.footer {
  background-color: $background-color;
  box-sizing: border-box;
  color: $color;
  font-family: "gotham", sans-serif;

  text-align: center;
  width: 100%;

  img {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    width: 100px;
  }

  ul {
    padding: 10px;
  }

  li {
    display: inline-block;
    font-weight: 800;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}

.social-links {
  align-items: center;
  background-color: $color;
  border-radius: 50%;
  color: $background-color;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  margin: 5px;
  width: 50px;

  a {
    align-items: center;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    margin: 5px;
    width: 50px;

  }

  i {
    font-size: 1.6em;
  }
}

.social-links:hover {
  background-color: #7498BE;
  color: $color;
}


// Text on bottom + PP Link
.ftr-info {
  padding-bottom: 20px;
  padding-top: 10px;

  .copyright {
    font-size: .8em;
  }

  .privacy {
    font-size: .8em;
  }
}
