/**
 * Glide JS
 * =================================
 * This is where styles used to more or less override Glide JS are kept. Some tailwind is used aronud,
 * but this is the primary place where card styles are kept.
 *
 *
 *
 *
 */


/*
 * Frontpage Slider
 * =================================
 */

// Not my class names soooooooo
/* stylelint-disable selector-class-pattern */

// Set card height
@media screen and (min-width: 64em) {
  .slide-card {
    height: 350px;
  }
}

// Set opacity of all cards to be low
.glide__slide {
  opacity: .4;
}

// Set opacity of active card to full
.glide__slide--active {
  opacity: 1;
}


// Arrow Control

// Set arrows to hidden on mobile
.glide__arrow--left, .glide__arrow--right {
  display: none;
}

// Set arrows to show up and style them on tablet +
@media screen and (min-width: 64em) {
  .glide__arrow--left, .glide__arrow--right {
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    color: #333333;
    display: inline-flex;
    font-size: 1.5em;
    height: 50px;
    justify-content: center;
    margin: 5px;
    transition: 0.1s;
    width: 50px;

    i {
      align-items: center;
      display: inline-flex;
      font-size: 1.6em;
      height: 50px;
      justify-content: center;
      margin: 5px;
      width: 50px;
    }
  }

  .glide__arrow--left:hover, .glide__arrow--right:hover {
    background-color: rgba(255, 255, 255, .9);
  }

  // Set positioning
  .glide__arrow--left {
    position: absolute;
    top: 38%;
  }

  .glide__arrow--right {
    position: absolute;
    right: 0;
    top: 38%;
  }
}

// all cards
.glide__slide {
  background-color: #ffffff;
  border-radius: 20px;
}

.glide__slide--active {
  // how to change the active card
}

/* stylelint-enable selector-class-pattern */