body {
  font-family: "gotham", sans-serif;
}

.gotham {
  font-family: "gotham", sans-serif;
}

.helvetica {
  font-family: "Helvetica LT Std", sans-serif;
}

.prose ul {
  list-style: none;
  padding-left: 0;
}

.prose li {
  margin: .1em 0;
}

.prose li:before {
  color: #000000;
  content: "•";
  padding-right: 10px;
}