/**
 * Pagination
 * =================================
 * This controls what the pagionation buttons at the bottom of the blog page look like
 *
 *
 *
 *
 *
 */

/* stylelint-disable selector-no-qualifying-type */
.pagination {
  border-radius: 10px;
  color: #FAFAFA;
  display: inline-block;
  font-size: 1.3em;

  span {
    background-color: #234058;
    padding: 10px 15px;
  }

  a {
    background-color: #234058;
    padding: 10px 15px;
  }

  a:hover {
    background-color: #7498BE;
  }

  .pag-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .pag-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  // these classes are toggled on and off in PHP
  // They control roundedness on the middle block.
  .pag-mid-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 30px;
  }

  .pag-mid-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 30px;
  }
}

/* stylelint-enable selector-no-qualifying-type */
