/**
 * Prose
 * =================================
 * - These are classes used to overwrite or help the tailwind "prose" class.
 *
 *
 *
 *
 */

// This styles the UL / LI to have actual colored disks
.prose ul {
  list-style: none;
  padding-left: 0;
}

.prose li {
  margin: .1em 0;
}

.prose li:before {
  color: #000000;
  content: "•";
  padding-right: 10px;
}

// This can be added in the WYSIWYG editor to force a subtitle to sit right under the main title be removing margin.
.subtitle {
  margin-top: -1em !important;
}

// This overrides some of the prose styles for the "announcement block" which forces color and centering, taking control from the user.
.announcement-block {
  color: #ffffff !important;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
}

.prose hr {
  border: 0;
  height: 2px;
  background-color: #333333;
  opacity: .6;
}