/*
 * Topbar SCSS
 * ---------------------------
 * This controls the top bar on the website that runs over the main navbar.
 *
 *
 *
 *
*/

// This class is passed into the <ul> by wordpress.
.topbar {
  max-width: 2000px;
  text-align: center;

  // Handles the styles of each link. They are set to inline block then given side padding to make them "centered."
  li {
    color: #234058;
    display: inline-block;
    font-family: "gotham", sans-serif;
    font-weight: 800;
    padding: 20px 5px;
    text-align: center;
    text-transform: uppercase;
  }
}

// When you hit desktop, this tosses the links to the right and adds more padding.
@media screen and (min-width: 64em) {
  .topbar {
    margin: 0 auto;
    padding: 10px;
    text-align: right;

    li {
      display: inline;
      font-size: 1em;
      width: initial;

      a {
        padding: 15px;
      }
    }

    // Hover state on desktop
    a:hover {
      background-color: #234058;
      color: #fafafa;
    }
  }
}
