/**
 * Wordpress
 * =================================
 * Sometimes wordpress generates things and tailwind can't hit it. This edits those.
 * - Single - Category
 * - Privacy Policy Styles
 *
 *
 *
 */


.category {
  ul {
    display: inline-block;
  }

  li {
    background-color: #234058;
    padding: 10px;
  }
}

.blog-content {
  p {
    padding-bottom: 15px;
  }
}

/* Privacy Policy Page */
// WP generates this, so in order for it to look right I have to manually style it.
.privacy-policy {
  h2 {
    font-size: 2em;
    font-weight: 800;
    padding-top: 10px;
  }
}

.slide-card {
  height: 350px;
}

@media screen and (min-width: 64em) {
  .slide-card {
    height: 350px;
  }
}

.glide__slide {
  opacity: .4;
}

.glide__slide--active {
  opacity: 1;
}

.glide__arrows {
  font-size: 1.5em;
  color: white;
}

.glide__arrow--left, .glide__arrow--right {
  display: none;
}

@media screen and (min-width: 64em) {
  .glide__arrow--left, .glide__arrow--right {
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    color: #333333;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    margin: 5px;
    transition: 0.1s;
    width: 50px;

    i {
      align-items: center;
      display: inline-flex;
      height: 50px;
      justify-content: center;
      margin: 5px;
      width: 50px;
      font-size: 1.6em;
    }
  }

  .glide__arrow--left:hover, .glide__arrow--right:hover {
    background-color: rgba(255, 255, 255, .9);
  }

  .glide__arrow--left {
    position: absolute;
    top: 38%;
  }

  .glide__arrow--right {
    position: absolute;
    top: 38%;
    right: 0;
  }
}